# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyc

# Environment Variables
.env

# SQLite Database
db.sqlite3

# Django Files
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

#Operating System
.DS_Store
Thumbs.db